
<ul class="nav navbar-nav ">
    <li><a href="@Url.Action("Index", "Statistics")"><span class="glyphicon glyphicon-book"></span> 統計</a></li>
    <li><a href="@Url.Action("Index", "Admin")"><span class="glyphicon glyphicon-home"></span> 管理員列表</a></li>
    <li>
        <a id="dLabel" role="button" data-toggle="dropdown" class="btn" data-target="#" href="@Url.Action("Index", "Multimedia")">
            <span class="glyphicon glyphicon-th-list"></span> 多媒體管理系統 <span class="caret"></span>
        </a>
        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
            <li><a href="@Url.Action("Index", "ActivityInfoDevice")">活動看版控制</a></li>
            <li class="divider"></li>
            <li><a href="@Url.Action("Index", "PostCastDevice")">推播裝置控制</a></li>
        </ul>
    </li>
    <li>
    <li><a href="@Url.Action("Index", "ActivityInfoBoard")"><span class="glyphicon glyphicon-th-list"></span> 活動資訊看板</a></li>
    <li>
        <a id="dLabel" role="button" data-toggle="dropdown" class="btn" data-target="#" href="@Url.Action("Index", "InfoBox")">
            <span class="glyphicon glyphicon-th-list"></span> 資訊方塊 <span class="caret"></span>
        </a>
        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
            <li><a href="#">新到館藏</a></li>
            <li class="divider"></li>
            <li><a href="#">活動訊息推播</a></li>
            <li class="divider"></li>
            <li><a href="#">貴賓留影</a></li>
            <li class="divider"></li>
            <li><a href="#">愛心捐贈芳名錄</a></li>
            <li class="divider"></li>
            <li><a href="#">好書推薦大頭拍</a></li>
            <li class="divider"></li>
            <li><a href="@Url.Action("Index", "StickyNoteMessage")">便利貼留言板</a></li>
            <li class="divider"></li>
            <li><a href="#">無版權創作素材庫(CC)</a></li>
            <li class="divider"></li>
            <li><a href="#">讀者好書書評共建</a></li>
            <li class="divider"></li>
            <li><a href="#">滿意度調查</a></li>
            <li class="divider"></li>
            <li><a href="#">投票系統</a></li>
            <li class="divider"></li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Hover me for more options</a>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">Second level</a></li>
                    <li><a href="#">Second level</a></li>
                    <li><a href="#">Second level</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>